/* Preço de Veículo - https://precodeveiculo.netlify.app
 * https://github.com/wgenial/precodeveiculo
 * Developed by WGenial - http://wgenial.com.br
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 1rem;
}
h4 {
  margin: 0 0 0.5rem 0;
}
p {
  margin: 0 0 1rem 0;
}
select, button {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  width: 100%;
}
select {
  background-color: white;
  height: 3rem;
  text-overflow: ellipsis;
  word-break: break-all;
}
button {
  background-color: lightgray;
  border: 1px solid;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}
table tr td {
  padding: 1rem;
  border: 1px solid black;
}
table tr td:first-child {
  background: whitesmoke;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
}
@media (min-width: 599px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .container div {
    text-align: left;
    width: 48%;
  }
}